<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Currently editing: <%=mushroom.sciName%></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_sidebar.ejs') %>
    <form action="/mushrooms/<%=mushroom._id%>?_method=PUT" method="POST">

        <label for="sciName">Scientific name: </label>
        <input type="text" name="sciName" id="sciName" required value="<%=mushroom.sciName%>">
        <br />
        <label for="comName">Common name: </label>
        <input type="text" name="comName" id="comName" required value="<%=mushroom.comName%>">
        <br />
        <label for="image">Link to image: </label>
        <input type="url" name="image" id="image" required value="<%=mushroom.image%>">
        <br />
        <!-- Issue over here - cannot get previous edibility status to prepop -->
        <label for="edibility">Edibility: </label>
        <select id="edibility" name="edibility" required>
            <option value="unknown" <%=mushroom.edibility ==="unknown" ? "selected" : ""%>>Unknown</option>
            <option value="edible" <%=mushroom.edibility ==="edible" ? "selected" : ""%>>Edible</option>
            <option value="selectively-edible" <%=mushroom.edibility ==="selectively-edible" ? "selected" : ""%>>Selectively Edible</option>
            <option value="inedible/toxic" <%=mushroom.edibility ==="inedible/toxic" ? "selected" : ""%>>Inedible or Toxic</option>
        </select>
        <br />
        <label for="description">Please describe the mushroom: </label>
        <textarea id="description" name="description"><%=mushroom.description%></textarea>
        <br /> <br />
        <button type="submit">Edit</button>
    </form>

<footer>
    <div id="footer-left">
        <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">About Us</a></p>
    </div>
    <div id="footer-disclaimer">
        <p>Disclaimer: This website does not contain verfied information about the edibility of mushrooms - <u>please do
            not use it as a guide!</u></p>
    </div>
</footer>
</body>
</html>