<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Mushrooms List</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="mainDivWrapper">
      <%- include('../partials/_sidebar.ejs') %>
        <div class="subMainDivWrapper">
          <h1 id="pageHead">Much Ado About Mushrooms</h1>
          <h2>Mushroom Index</h2>
          <div class="mushMainIdx">
            <ul class="mushMainIdxList">
              <% mushrooms.forEach((mushroom)=> { %>
                <%mushrooms.sort(function (a, b) {%>
                  <%if (a.sciName < b.sciName) {%>
                    <%return -1%>
                      <%}%>
                        <%if (a.sciName> b.sciName) {%>
                          <%return 1%>
                            <%}%>
                              <%return 0 %>
                                <%})%>
                                  <li>
                                    <a href="/mushrooms/<%=mushroom._id%>">
                                      <%= mushroom.sciName %>, (<%= mushroom.comName %>)
                                    </a>
                                  </li>
                                  <% }) %>
            </ul>
          </div>
        </div>
    </div>

    <footer>
      <div id="footer-left">
        <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">About Us</a></p>
      </div>
      <div id="footer-disclaimer">
        <p>Disclaimer: This website does not contain verfied information about the edibility of mushrooms - <u>please do
            not use it as a guide!</u></p>
      </div>
    </footer>
</body>

</html>