<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= mushroom.sciName %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="mainDivWrapper">
            <%- include('../partials/_sidebar.ejs') %>
                <div class="subMainDivWrapper">
                    <h1 id="pageHead">Much Ado About Mushrooms</h1>
                    <h2 class="mushShowSciName"><strong>
                            <%= mushroom.sciName.toUpperCase()%>
                        </strong>
                    </h2>
                    <h3><strong>Common name: <%=mushroom.comName%></strong>
                    </h3>
                    <div class="mushShowPageWrapper">
                        <div class="mushShowPage">
                            <img class="mushroom-show" src="<%=mushroom.image%>"
                                alt="An image of <%=mushroom.comName%>" />
                            <div class="mushShowDescEdBtns" id="mushShowDescEd">
                                <p id="mushDesc"><u><strong>Description:</strong></u>
                                    <%=mushroom.description%>
                                </p>
                                <p><u><strong>Edibility:</strong></u>
                                    <%=mushroom.edibility%>
                                </p>
                            </div>
                        </div>
                        <div class="mushOwnerBtns">
                            <div class="mushFave">
                                <%if (user && userHasFavourited) {%>
                                    <form action="/mushrooms/<%= mushroom._id %>/favourited-by/<%= user ? " user._id" : ""
                                        %>?_method=DELETE"
                                        method="POST">
                                        <button id="mushFavBtn" type="submit">🍄</button>
                                    </form>
                                    <p>
                                        You and <%= (mushroom.favouritedByUsers.length)-1 %> other users agree this is a mushroom.
                                    </p> 
                                <% } else { %>
                                    <form action="/mushrooms/<%= mushroom._id %>/favourited-by/<%= user ? " user._id" : ""
                                        %>"
                                        method="POST">
                                        <button id="mushFavBtn" type="submit">🍄</button>
                                    </form>
                                    <p>
                                        <%= mushroom.favouritedByUsers.length %> users agree this is a mushroom.
                                    </p>
                                <% } %>
                            </div>
                            <div class="mushOwnerBtnsFr">
                                <%if ((user) && (mushroom.owner._id.equals(user._id))) {%>
                                    <form action="/mushrooms/<%=mushroom._id%>?_method=DELETE" method="POST">
                                        <button type="submit">Delete mushroom</button>
                                    </form>
                                    <button type="button"><a href="/mushrooms/<%=mushroom._id%>/edit">Edit
                                            mushroom</a></button>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <footer>
            <div id="footer-left">
                <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">About Us</a></p>
            </div>
            <div id="footer-disclaimer">
                <p>Disclaimer: This website does not contain verfied information about the edibility
                    of mushrooms - <u>please do
                        not use it as a guide!</u></p>
            </div>

        </footer>
</body>

</html>