<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Much Ado About Mushrooms</title>
</head>

<body>
    <%- include('./partials/_navbar.ejs') %>
        <div class="mainDivWrapper">
            <%- include('./partials/_sidebar.ejs') %>
                <div class="subMainDivWrapper"> 
                    <!-- /*change to section*/ -->
                    <h1 id="pageHead">Much Ado About Mushrooms</h1>
                    <div class="subDivWrapper">
                        <h3 id="pageSubhead">A website that has information on a few of these little dudes!</h3>
                        <div id="mushLandingDisplay">
                            <%mushToDisplay=mushrooms[Math.floor(Math.random() * mushrooms.length)]%>
                                <p>Mushroom Of The Day</p>
                                <p id="mushDispSciName">
                                    <%=mushToDisplay.sciName.toUpperCase()%>
                                </p>
                                <img id="mushDispImg" src="<%=mushToDisplay.image%>"
                                    alt="An image of <%=mushToDisplay.comName%>" />
                                <p id="mushDispDesc">Description: <%=mushToDisplay.description%>
                                </p>
                                <button type="button" id="mushDispIdxBtn"><a href="/mushrooms">View index</a></button>

                        </div>
                    </div>
                </div>
                <section class="mushMedandRecWrapper">

                </section>
        </div>


        <footer>
            <div id="footer-left">
                <p><a href="https://github.com/rahnajacob">An actual link to my Github!</a></p>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">About Us</a></p>
            </div>
            <div id="footer-disclaimer">
                <p>Disclaimer: This website does not contain verfied information about the edibility of mushrooms -
                    <u>please do
                        not use it as a guide!</u></p>
            </div>
        </footer>
</body>

</html>